.page-header {
    max-width: 1100vw;
    display: flex;
    flex-direction: column;
    background-color: #e7a6a9;
}

.page-header .top-bar-container {
    width: 100%;
    margin: 12 auto;
    display: flex;
    align-items: center;
    padding: 30px ;
}

.page-header .top-bar-container button{
    background: none;
    border: none;
}

.page-header .header-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 48px;
}

.page-header .header-content strong {
    font: 700 50px Archivo;
    margin: 25px;
}

